.sign {
    background-size: contain;
    background-image: url("sign.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
}

.dicks_header .icon img {
    height: 50px!important;
}

body{
    /*background-color: #D6EAF8;*/
}

.dicks_header {
    background-color: #000;
    color:white;
    padding: 12px;
    min-height: 50px;
    margin-bottom: 12px;
}

.edge.bottom {
    border-bottom: 10px solid #ABB2B9;
}

.edge.left {
    border-left: 1px solid #ABB2B9;
}
.edge.right {
    border-right: 1px solid #ABB2B9;
}

.edge.top {
    border-top: 1px solid #ABB2B9;
}

.section_heading {
    text-decoration: underline;
    font-weight: 800;
    text-align: left;
}

.submit_button {
    margin-top: 8px;
}

.dicks_nav li {
    margin: 5px;
    padding: 5px;
}

.dicks_nav li a{
    color:white;
    transition: color 500ms;
}
.dicks_nav li:hover{
    color:black !important;
    background-color: white;
    transition: background-color 500ms;
    border-radius: 4px;
}
li:hover a {
    color: inherit;
    text-decoration: none;
    transition: color 500ms;
}

.panel_list li, .panel {

    padding: 12px;
    background-color: #000000;   ;
    margin:8px;
    border-radius: 5px;

}

.panel_list li.active, .panel.active {
    background-color:white;
    color:black;
    border: 1px solid black;
}

.panel, .panel_list li a, .panel a {
    text-align: center;
    color:white;
}



.answer_list li {
    padding: 5px;
    background-color: transparent;
}

.award_glyph {
    background-color: #D5DBDB ;
    border-radius: 15px;
    padding: 5px;
}

.award_glyph.marksheet:hover {
    cursor: pointer;
    background-color: #EBDEF0 ;
}
.glyphicon.glyphicon-ok.marksheet:hover {
    background-color:#82E0AA;
}

.award_glyph.correct,select.correct {
    background-color: #2ECC71;
}
.glyphicon.glyphicon-remove.marksheet:hover {
    background-color:#F1948A;
}
.award_glyph.incorrect {
    background-color: #EC7063;
}.award_glyph.half-point,select.half-point {
    background-color: #F7DC6F;
}
.available_points_for_question {
    font-size: x-small;
    font-weight: 800;
    color: #5DADE2;
}
.available_points_for_question::after {
    content: ' pts';
}
.panel_description {
    padding-left: 12px;
    font-size: xx-small;
}
.btn-dicks, .toggle_panel_control {
    background-color: #000000;
    color: white;
    transition: background-color 200ms, color 200ms;
}

.btn-dicks:hover, .toggle_panel_control.active {
    background-color: #fff;
    color: black;
    border: 1px solid black;
    transition: background-color 200ms, color 200ms;
}
.toggle_panel_control {
    border-radius: 5px;
}
.toggle_panel_control:hover {
    cursor: pointer;
}
.hand-written{
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #000;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

#team_total_score{
    color:white;
}