.sign {
    background-size: contain;
    background-image: url("sign.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
}

.dicks_header .sign.icon {
    height: 50px!important;
    background-position: right;
}

body{
    /*background-color: #D6EAF8;*/
}

.dicks_header {
    background-color: #AED6F1;
    padding: 12px;
    min-height: 50px;
    margin-bottom: 12px;
}

.edge.bottom {
    border-bottom: 1px solid #3498DB;
}

.edge.left {
    border-left: 1px solid #3498DB;
}
.edge.right {
    border-right: 1px solid #3498DB;
}

.edge.top {
    border-top: 1px solid #3498DB;
}

.section_heading {
    text-decoration: underline;
    font-weight: 800;
    text-align: left;
}

.submit_button {
    margin-top: 8px;
}

.dicks_nav li {
    margin: 5px;
    padding: 5px;
}

.panel_list li, .panel {

    padding: 12px;
    background-color: #AED6F1   ;
    margin:8px;
    border-radius: 5px;

}

.panel_list li.active, .panel.active {
    background-color:#5DADE2;
}

.panel, .panel_list li a, .panel a {
    text-align: center;
    color:white;
}



.answer_list li {
    padding: 5px;
    background-color: transparent;
}

.award_glyph {
    background-color: #D5DBDB ;
    border-radius: 15px;
    padding: 5px;
}

.award_glyph.marksheet:hover {
    cursor: pointer;
    background-color: #EBDEF0 ;
}
.glyphicon.glyphicon-ok.marksheet:hover {
    background-color:#82E0AA;
}

.award_glyph.correct,select.correct {
    background-color: #2ECC71;
}
.glyphicon.glyphicon-remove.marksheet:hover {
    background-color:#F1948A;
}
.award_glyph.incorrect {
    background-color: #EC7063;
}.award_glyph.half-point,select.half-point {
    background-color: #F7DC6F;
}
.available_points_for_question {
    font-size: x-small;
    font-weight: 800;
    color: #5DADE2;
}
.available_points_for_question::after {
    content: ' pts';
}